<launch>
    <node pkg="nv_car" type="pub_receiver.py" name="receiver_node" output="screen"></node>
    <node pkg="nv_car" type="sub_stall.py" name="stall_node" output="screen"></node>
    <node pkg="nv_car" type="sub_steer.py" name="steer_node" output="screen"></node>
    <node pkg="nv_car" type="sub_throttle.py" name="throttle_node" output="screen"></node>
</launch>